[2016-05-03 06:22] mtakaki opened #1 "Override configuration using environment variables"
We should be able to override any configuration using environment variables. This will make the usage of docker easier and require less changes to the configuration file.

[2016-05-03 06:28] mtakaki opened #2 "Push latency metrics"
We should push the latency metrics, if the metrics id is set, so we can monitor the API responsiveness and lag.

[2016-05-03 06:29] mtakaki opened #3 "Create incidents whenever the checks fail"
We should be creating incidents whenever a check fails. At the moment we're only updating the component status and we're not creating incidents, which are more descriptive of what happens and adds a timeline to it.

[2016-05-03 09:38] #2 closed

[2016-05-19 15:43] #3 closed

[2016-05-19 15:44] mtakaki opened #7 "Increase code coverage"
We don't have a good code coverage and the `Scheduler` is not well tested. It's essential to have a proper coverage and test all the different edge cases.

[2016-05-22 18:56] #1 closed

[2016-05-22 18:58] mtakaki opened #9 "Support multiple URLs but with same expectations and under the same component"
We should be able to support multiple URLs, as long as they all have the same expectation and falls under the same component.

[2016-06-01 13:11] xel1045 opened #10 "Allow endpoint configuration through the Cachet API"
With the Cachet API, we can retrieve the list of configured components at `/api/v1/components`, then perform a basic health check for all components with an URL through GET.

[2016-06-03 03:45] mtakaki commented on #10
That's an interesting proposal, but what if not every URL accepts a GET request? Or is the idea to fetch all component URLs in the beginning? It would still be missing the HTTP method, expected status code, body content, etc, to properly verify the URLs.

[2016-06-03 13:57] xel1045 commented on #10
Maybe by targeting the components with a regex? For example:

[code]

Then, for the status code, it would be nice to accept ranges like 200-299 for all successful statuses.

[2016-06-04 04:50] mtakaki commented on #10
I gotta say, that's a good idea. I would make this as an optional way of setting it up as not always we want to have the same check for every single component. Say you wanna monitor a page and check if the body contains an specific string, but this string is not present in the other components.

For the status code range, I'll create a separate issue for it.

Nonetheless, I will address those two

[2016-06-04 23:38] mtakaki opened #11 "Add support to status range"
We currently only support a single HTTP status code value, but it would be handy to support a range of values.

[2016-06-22 20:54] jwmarshall commented on #10
I was looking at this monitor, as well as another, for Cachet hoping to find something like what is suggested here. The idea of auto-configuring the monitor from URLs already in Cachet would be super ideal. Perhaps if we could get Cachet to support markdown descriptions for components we could use something similar to [Jekyll's frontmatter](https://jekyllrb.com/docs/frontmatter/) to configure the

[2016-06-23 07:36] mtakaki commented on #10
I'm currently trying to wrap up the work on supporting multiple URLs, before tackling this issue. This one may be a bigger revamp, so I wanna make sure 0.3 is done and working. I'm not happy with my current approach on it, thus I'm taking longer to get it done.

Don't worry, this issue is not forgotten and it is on the top of my list to get done. It is a great idea and I really wanna get it implem

[2016-07-22 13:33] neggs commented on #9
Hi, thanks for the super plugin. Any news on the multi url request?

[2016-07-23 04:51] mtakaki commented on #9
I'm sorry for the delay, @neggs. I've been swamped with other projects and I'm not happy with my current implementation for this. I'll try getting it done in the next weeks.

[2016-08-28 09:22] leovarmak opened #15 "How can I ping and check the status of an IP ?"
How can I ping and check the status of an IP ? I tried giving the IP Instead of the Website name, but it doesnt work

[2016-08-28 16:50] mtakaki commented on #15
This plugin only verifies HTTP URLs, so it doesn't ping any IP. It sends an HTTP request and verifies the response.

Looking at cachet's [third-party integrations page](https://docs.cachethq.io/docs/addons), I couldn't find any plugin that provides what you're looking for.

[2016-08-31 08:15] leovarmak commented on #15
Alright. If you get across any please ping me .
(only if you remember)

[2016-08-31 08:15] #15 closed

[2016-09-06 01:22] mtakaki commented on #15
Will do!

[2016-09-09 20:26] thetechgy opened #16 "Monitor Multple URLs"
Is it currently possible to monitor multiple URL's? I've tried entering multiple URL's into the config.yml file using the same format as the single URL example, making sure that each has the correct component ID, but only 1 seems to be checked and updated.

[2016-09-10 17:06] mtakaki commented on #16
Hi, this is under development and being tracked on issue #9. I've been too busy with other projects and I'm still trying to get this out.

I'm going to close this issue, as we already have an issue being used to track this.

[2016-09-10 17:06] #16 closed

[2016-10-19 16:39] gamkiller77 opened #17 "config.yml file seg fault when passing value rapped in " ""
I am using your contianer image in a Kubernetes / OpenShift 3.3 deployment.  I gotten to work really well and wanted to rap it up as a PaaS offering.  One item that is odd about k8s is that you can not just mount a config file but use configmap.  This worked great and was able to get your container to work.

I then figured i make this in to a template.  I setup the template but in the parameter se

[2016-10-20 05:08] mtakaki commented on #17
I'm sorry but I'm not quite following what's happening. I just tested it locally, having a value wrapped into double quotes (`"`), and it worked fine. So my configuration looks like this:

[code]

You can see that `create_incident` has `"true"` and it works with no problem. Could you please share the stack trace or the error you're exactly getting?

[2016-10-27 15:57] gardner opened #18 "Trailing slash in api_url causes 404"
Removing the trailing slash from the config file fixes this.

Ubuntu Linux 16
Python: 2.7

[code]

[2016-10-28 04:38] #18 closed

[2016-10-28 04:43] gardner commented on #18
Thanks for pulling this in

[2016-10-29 17:31] mtakaki commented on #17
I haven't got any answer from you in 10 days. I'm going to close this issue and feel free to comment back here if it's still happening to you.

[2016-10-29 17:31] #17 closed

[2016-11-22 16:19] hfroese opened #20 "The URL is unreachable"
Doesn't work to me. Got always "The URL is unreachable" no matter what URL I use - even with google.com. Any ideas?

[2016-11-23 01:57] mtakaki commented on #20
I'm not sure why it's not working for you. How are you running it?

If you're running through docker, could you please try this and send me the output?
[code]

Otherwise, could you please send me the command you're using to run it?

[2016-11-23 08:19] hfroese commented on #20
I'm not running docker but debian.
I start cachet-url-monitor with:

$ source bin/activate
$ pip install -r requirements.txt
$ python cachet_url_monitor/scheduler.py config.yml

The script is running but got no positive result.

[2016-11-24 03:40] mtakaki commented on #20
I know this is a stupid question, but what do you get when you run this?
[code]

Also could you please send me the output of the following:
[code]

[2016-11-24 09:01] hfroese commented on #20
Here we go:

$ curl -v google.com
[code]
$ source bin/activate:

No output

$ pip install -r requirements.txt:
[code]
$ python -c 'import requests; print requests.get("http://www.google.com").status_code':

`200`

[2016-11-25 03:35] mtakaki commented on #20
What do you have in your configuration file? It should be working as you can clearly hit google.
This library actually uses sorta the same code you just used.

[2016-11-25 09:40] kirtiranjan commented on #20
I am also getting the same issue"The URL is unreachable".Any solution .Also  how can we pass parameters along with POST request ?

[2016-11-27 02:19] mtakaki commented on #20
@kirtiranjan not sure why it's failing for both of you. I just tested it and it's working fine. Could you please share your configuration file?

[2016-11-28 04:48] kirtiranjan commented on #20
@mtakaki here is my config file
{
  "api_url": "http://status.example.com/api/v1/components/1",
  "api_token": "#################",
  "insecure_api": true,
  "monitors": [
    {
      "name": "google",
      "url":  "http://www.google.com",
      "threshold": 80,
      "component_id": 1,
      "interval": 10,
      "timeout": 5,
      "expected_status_code": 200,
      "strict_tls": true
    }
  ]

[2016-11-28 05:26] mtakaki commented on #20
@kirtiranjan I would start with a simple configuration and you add more criteria as you clear them off. For example, your timeout is 50ms. Is it enough? The HTTP status that google returns is `302 Found` and forwards it to another URL. So, I would remove the HTTP_STATUS criteria for now.

I'll update the sample configuration to something that works right away. It seems that it's confusing and that

[2016-11-28 06:54] kirtiranjan commented on #20
Irrespective of what I do I am always getting  "The URL is unreachable"

[2016-11-28 07:28] mtakaki commented on #20
If you look at the source code, an `ConnectionError` is what causes the log message "The URL is unreachable." For whatever reason you're being able to reach google's page. Did you follow the same steps I've asked to @hfroese and you got the same results?

[2016-11-29 22:42] waltrinehart commented on #20
Howdy,

I am also getting this issue. I am running the container pulled from dockerhub. I also tried doing a docker compose from the github and am getting the same thing.

Config.yaml
endpoint:
  url: http://www.google.com
  method: GET
  timeout: 0.01
  expectation:
    - type: HTTP_STATUS
      status: 200
    - type: LATENCY
      threshold: 1
    - type: REGEX
      regex: '.*(<body).*'
cachet

[2016-11-30 06:14] mtakaki commented on #20
I'm really not sure what's going on for you guys. I just pulled the docker image and it's working fine for me. Lemme do more tests here.

[2016-11-30 15:57] waltrinehart commented on #20
Further information that might help, I have tested this both inside and outside of my companies VPN. Same results both ways.

[2016-12-01 16:54] mtakaki commented on #20
Thanks, @waltrinehart! Could you please try removing the REGEX expectation? Also, could you please try going with a super simple configuration and then adding more things? For example, just HTTP status, then you add latency, etc.

[2016-12-01 16:55] mtakaki commented on #20
This should help isolating what exactly is failing for you.

[2016-12-01 17:38] waltrinehart commented on #20
**Here is the output when I just do HTTP_Status:**
sh-3.2# docker run --rm -it -v /Users/wrinehart/cachet-url-monitor/my_config:/usr/src/app/config/ mtakaki/cachet-url-monitor
     INFO [2016-12-01 17:30:22,319] cachet_url_monitor.configuration.Configuration - Monitoring URL: GET http://www.google.com
     INFO [2016-12-01 17:30:22,320] cachet_url_monitor.configuration.Configuration - Registered e

[2016-12-01 17:40] waltrinehart commented on #20
Maybe it might be a good idea to copy/pasta your config you are using? Maybe something is awry with the format of the config file I have.

[2016-12-02 04:13] mtakaki commented on #20
Ok, my config looks like this:
[code]

And this is my output:
[code]

[2016-12-02 16:50] waltrinehart commented on #20
That worked! There must be a discrepancy between the config included and the config you posted here. Maybe a formatting issue or a variable that it just doesn't like.

Is there anyway to get a list of the possible Expectations the config will accept?

[2016-12-02 16:55] mtakaki commented on #20
How are you creating your config file? Are you using the `config.yml` included here or are you copying/pasting it from the README?

The possible expectations are:
1. HTTP_STATUS
1. LATENCY
1. REGEX

[2016-12-02 16:56] waltrinehart commented on #20
The one I got working was the copy you posted above.

[2016-12-02 16:57] mtakaki commented on #20
Sorry, I meant the original one, the one that didn't work.

[2016-12-02 16:58] waltrinehart commented on #20
Ah, I also posted that one in my first post I -believe- I got that config from the README, but I also could have gotten it from the sample included in the git repo.

[2016-12-02 17:00] mtakaki commented on #20
I noticed the indentation was incorrect, but I thought it was just a pasting issue. Would you mind editing it and putting it into a code block? You will need to wrap it with ```, on the top and on the bottom.

[2016-12-02 17:02] mtakaki opened #21 "Expectation validation is not working properly"
When creating a config, if the expectation is not a valid option is just fail with a non-descriptive exception:

[code]

It should also list the available options.

[2016-12-02 17:02] mtakaki commented on #20
I just created #21 to have better validation and to list the available expectations.

[2016-12-02 17:43] waltrinehart commented on #20
[code]

[2016-12-02 17:44] mtakaki commented on #20
I can't see anything wrong with it. Could you please try increasing the timeout? Maybe you're not getting a response in 10ms.

[2016-12-02 17:49] waltrinehart commented on #20
I took the above config and adjusted the timeout to 10 (like in your config).  It is working correctly.

0.01 (which is in the sample) must be far too low.

[2016-12-03 02:36] mtakaki commented on #20
Well, there interesting thing is that you should get this message, instead:
[code]

So it still doesn't explain what's happening...

[2016-12-05 06:37] mtakaki commented on #20
If this is not happening anymore for you guys @hfroese @kirtiranjan @waltrinehart, I'll close this issue. But I'd like some action items to prevent it from happening to other people. Still not sure what's going on, to be honest.

[2016-12-27 13:51] shaun-ba opened #22 "Monitoring multiple servers"
Excuse my ignorance a little, is the idea here to run a virtualenv and a copy of this codebase/config for every server/component, or am i missing something?

[2016-12-27 15:56] shaun-ba opened #23 "Timeout being recorded with no issue?"
Is there handling for direct IP/port in the url? As i'm trying to do this but not had a successful connection.

[2016-12-27 16:02] #23 closed

[2016-12-27 16:08] shaun-ba commented on #20
@mtakaki I also had this issue, then had a "Regex did not match anything in the body".

I've since removed the regex, upp'ed the timeout and latency to 10 and now i don't receive any updates to the monitor, it's just stuck at "starting monitor agent" with no other logs for 5minutes. I'll assume this code isn't stable enough to use :(

[2016-12-27 18:04] mtakaki commented on #20
What's in your frequency, @shaun-ba ? This code is stable enough to me, but nonetheless you should use it at your own risk.

[2016-12-27 18:05] shaun-ba commented on #20
30seconds, i've not managed to get it to work at all unfortunately, very strange and different results on each run as other above reported

[2016-12-29 20:09] waltrinehart commented on #22
i monitor four sites with four separate docker containers.

[2017-01-02 07:43] mtakaki commented on #22
The idea is exactly how @waltrinehart suggested. Or you can run the same source code (with the virtualenv) and multiple configuration yaml files. Just start separate processes for each configuration. I'm still working on supporting multiple servers ( #9 ).

[2017-01-02 07:43] #22 closed

[2017-01-05 09:24] haydenjames commented on #20
I'm getting:
`Incident upload failed with status [401], message: "Request timed out"`

I this tested with latest version of cachet?

[2017-01-05 12:04] haydenjames opened #24 "threshold = ?"
Is threshold a value in seconds? Or is threshold the number of times before check is marked as a failed?

Example threshold = 5 ...would this prevent changes to cachet until 5 failed checks?

thanks

[2017-01-06 08:06] mtakaki commented on #24
Threshold is related to latency. So it's the threshold for latency to consider the URL unstable. As documented in the readme, the unit is in seconds.

[2017-01-06 08:06] #24 closed

[2017-01-06 08:23] haydenjames commented on #24
hmm. Interesting. I had threshold set to **60**, still this incident was created:
"Latency above threshold: 1.1176 seconds"

Switched to another alternative also listed here: https://docs.cachethq.io/docs/addons

[2017-01-06 20:54] haydenjames commented on #24
...

[2017-01-10 04:47] mtakaki commented on #24
Do you still have a question regarding this, @haydenjames? I just came back here to answer you and I can't find your comments anymore.

[2017-01-15 06:54] moodhairboy commented on #20
after copying the config.yml from this thread, I no longer get the site unreachable error.  Cool thanks for the code.  Much appreciation from Austin, Tx

[2017-01-15 23:33] mtakaki commented on #20
Glad to hear it, @moodhairboy!

[2017-01-20 09:25] mtakaki commented on #20
I've changed the code to print out the parsed configuration yaml. @shaun-ba would you mind trying it again with the latest code?

[2017-01-24 19:26] ekim92 commented on #9
Hi, any updates on multi-url?

[2017-01-25 09:17] mtakaki commented on #9
This will require some refactoring. My first attempt was not good and it would be serial. If you had 100 URLs and each took 1s to check, it would take in total 100 seconds to verify all of them. So, instead I'm rewriting it to do it in parallel (with a cap on the number of threads). Just really didn't have time to get it done. This is still on top of my priorities.

[2017-02-11 19:16] mtakaki commented on #20
I'm closing this issue as there has not been any question popping up anymore. If anyone has still any question, please feel free to reopen this issue.

[2017-02-11 19:16] #20 closed

[2017-03-14 17:03] niclasreich opened #37 "Error :("
[code]

[2017-03-15 06:12] mtakaki commented on #37
This is related to #34 changes. Please use the tagged latest release, as it's a stable release. Or you could also use the docker image.

I'll look into this whenever I get free as the build is currently broken too.

[2017-03-15 17:09] ImFlushy commented on #37
Thanks - amazingly working fine now.
Is there a way to change the output-text to something custom? Already tried some editing but couldn't get it to work.

[2017-03-15 18:45] ImFlushy commented on #37
Is there any way to run this in background? E.g. with screen?

[2017-05-22 08:34] gn-ley opened #38 "Pushing latency as milliseconds"
Usually status pages show the latency in ms.

Cachet can't convert the seconds to milliseconds, so url-monitor should be able to do that.

I'm suggesting a config param to switch to ms.

[2017-05-26 21:36] mtakaki commented on #38
That's a reasonable request. I'll try get this in over the weekend.

[2017-06-08 03:15] mtakaki commented on #38
It turns out I forgot the build has been broken. I gotta fix it first before I can merge my changes to support this.

[2017-08-04 20:07] manasa884 opened #40 "SSL Failed Certificate Verification Error"
Trying to set up the url monitor with my status page and I'm getting this error:

<pre>
(cachet_url_monitor) <b>$ python cachet_url_monitor/scheduler.py config.yml</b>

Traceback (most recent call last):
  File "cachet_url_monitor/scheduler.py", line 89, in <module>
    scheduler = Scheduler(sys.argv[1])
  File "cachet_url_monitor/scheduler.py", line 55, in __init__
    self.configuration = Config

[2017-08-05 04:48] mtakaki commented on #40
Which website are you hitting? Is it running with a self-signed certificate? This stack overflow link explains what's going on: https://stackoverflow.com/a/12864892
The error is coming from the requests library and it's rejecting your certificate.

[2017-08-11 05:50] mtakaki commented on #40
I'm going to close this issue, but please lemme know if you're still facing it or if you have any comment to add.

[2017-08-11 05:50] #40 closed

[2018-02-19 13:24] captainhook opened #41 "Running as python daemon"
I'm currently utilising screen to keep scheduler.py running in the background, but what would be great is to run as python daemon.

Has anyone managed to do this? There is some information on this [here](https://stackoverflow.com/questions/2975624/how-to-run-a-python-script-in-the-background-even-after-i-logout-ssh).

[2018-02-20 08:11] mtakaki commented on #41
Do you have the option of running it as a docker container? You could also run it under kubernetes.

[2018-02-21 05:17] mtakaki commented on #41
Great! That's definitely a better option. :)
I'm gonna close this ticket.

[2018-02-21 05:17] #41 closed

[2018-03-08 23:31] brianjking commented on #38
@mtakaki Any update on this by chance? Thanks!

[2018-03-13 06:52] mtakaki commented on #38
Sorry, I haven't had time to work on this project. I'll try getting it fixed asap.

[2018-03-19 00:55] mtakaki commented on #38
This should be done now. I'm going to close this ticket. Please, feel free to reopen it if there's any issue or misunderstanding of this feature.

[2018-03-19 00:55] #38 closed

[2018-03-19 05:24] mtakaki commented on #37
One year later... Could you please confirm if this issue still happens to you with the latest code?
I fixed the build and I ran some manual tests, it seems to be working fine.

I'm really sorry about the huge delay to fix this.

[2018-03-19 06:04] mtakaki commented on #11
This is done on #43

[2018-03-19 06:04] #11 closed

[2018-03-19 08:26] niclasreich commented on #37
Hi,
seems to work now. Thanks for your follow-up!

[2018-03-19 08:26] #37 closed

[2018-04-04 21:46] nasatome opened #45 "API URL fails when send a email"
with the following docker-compose (I'm behind a reverse proxy: traefik)

[code]

And the following configuration:

[code]

It works perfectly, but when cachetHQ sends an email, in the URL inside the email, redirects me to http://cachet:8000/subscribe/manage/xxxxxxx instead of https://myworpresspage.com/subscribe/manage/xxxxxxx in button "manage subscriptions"

I do not understand the API very well

[2018-04-08 14:52] fmele33 opened #46 "SSLError"
getting this error when trying to start url monitor, any ideas?

Max retries exceeded with url: /api/v1/components/19 (Caused by SSLError(SSLError(1, u'[SSL:CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:579)'),))

The cert is fine, it's our wildcard.

Thanks

[2018-05-02 11:42] PeterHsieh opened #47 "docker-compose file"
Hello!

I'm attempting to set up an instance using Docker, and the README suggests that there is a docker-compose file ready for use, however, I can't seem to locate it. Is it meant to be in the repo?

[2018-05-02 11:46] PeterHsieh commented on #47
#44 It looks like the dockerfile was removed in this commit. Not sure if it was intentional.

[2018-05-07 06:50] alaverty commented on #9
@mtakaki any progress? I would like to load up a number of different URL's, also is there a way to turn off SSL verification on https urls?

[2018-05-22 13:07] williamsdb opened #48 "Timeout with valid url"
Hi

I am getting "request timed out" message even though the URL works fine when accessed directly. Even if I up the threshold to 15 seconds (much longer than the page response time) it still fails. Also the log (below) says "Failure #1 with threshold set to 0" even with the threshold set to 15 seconds.

Any advice?

[code]

This is the relevant bit from the config file:

[code]

[2018-06-03 06:17] mtakaki commented on #48
The `latency_unit` is set to milliseconds, so the timeout is 15 milliseconds, not seconds.

[2018-06-03 06:27] mtakaki commented on #47
I've removed the docker-compose file because it wasn't working properly anymore. Cachet has a dependency on having a postgres database running. I'll update the README.

[2018-06-03 06:34] mtakaki commented on #46
Based on the stack trace, it seem requests is not accepting your certificate. I have to implement this, to add the ability to provide a ca bundle or a directory with trusted CAs

[2018-06-04 14:05] williamsdb commented on #48
oops you are correct, thanks!

[2018-06-14 07:06] JujuBois opened #50 "Monitor Appliance"
Hello

I use "cachet" with "cachet-url-monitor" just perfect :)

I would like to know if it is possible to ping a server or appilance (switch, firewall ...)

Is there a free solution or module;)

Thank you

[2018-06-18 07:17] mtakaki commented on #50
Unfortunately, based on the current implementation it can only monitor URLs. That would require a new implementation and it's indeed an awesome idea. If you're willing to help contribute on this, we can start a new repo and work on it :)

[2018-07-04 10:03] bessmertnyiponi opened #51 "Problem with config.yml"
Hi! I have some problem. When me made

[code]

it's my config.yml

[code]
What i do wrong?
Thank you!

[2018-07-05 06:38] bessmertnyiponi commented on #51
I solved my problem. Routing did not work

[2018-07-05 06:38] #51 closed

[2018-07-05 06:39] bessmertnyiponi commented on #51
.

[2018-07-05 08:09] bessmertnyiponi commented on #50
@JujuBois  How did you associate cachet and cachet-url--monitor?
Do you have howto or manual?
I don't undestand how show metrics from cachet-url-monitor to cachet.
Thank you

[2018-07-08 01:51] brianclemens opened #52 "Reload configuration on SIGHUP"
It would be nice if there were a way to reload the configuration with restarting

[2018-07-09 13:07] bessmertnyiponi commented on #50
@mtakaki how can I configure the program so that I can see if there is a certificate of https: // or it does not exist and it will give an error?
Thank you

[2018-07-17 22:31] #52 closed

[2018-09-07 16:45] arcreigh opened #53 "InsecurePlatformWarning"
InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. You can upgrade to a newer version of Python to solve this. For more information, see https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings

Running this from a shared hosting site, what is the minimum versio

[2018-09-22 22:41] a-w11 opened #54 "How to run this in the background?"
Hello,

How to run this in the background? I want to update often http websites?

"python cachet_url_monitor/scheduler.py config.yml"

I have server with Debian 9.5 Stretch.

[2018-09-22 22:47] a-w11 opened #55 "The URL is unreachable"
Why this page is unreachable when it's reachable on browser? I paste log from console. When i add site like google.com it's work.

cachet:
  action:
  - CREATE_INCIDENT
  - UPDATE_STATUS
  api_url: ***
  component_id: 1
  public_incidents: true
endpoint:
  allowed_fails: 0
  expectation:
  - status_range: 200-300
    type: HTTP_STATUS
  - threshold: 10
    type: LATENCY
  - regex: .*(<body).*

[2018-09-24 06:46] mtakaki commented on #54
I would recommend you using docker for this, instead of running like this. But if you really want to run it without docker, you can just execute it in the background:
[code]

But how you gonna monitor the process? The moment you close the shell, the process will be killed too. You could use `screen` and keep the process up, but now you have to deal with servers restarts, server shutdown, etc. You

[2018-09-25 15:38] jesobreira commented on #47
Any update on this?

[2018-10-15 10:36] ColdrickSotK commented on #9
@mtakaki In addition to this improvement, is there any interest in supporting monitoring multiple different URLs but with **different** expectations and component?

I know its currently possible to do that by running multiple instances of the monitoring process, but ideally I would like to not have to manage configuration in multiple different files.

I'm happy to look at sending a PR for it if yo

[2018-11-04 18:03] sadortun commented on #47
@mtakaki can you add the Docker compose file ?

[2018-11-04 18:04] sadortun commented on #47
@mtakaki Can you update the readme?

[2019-01-13 18:06] psudoorg commented on #54
@mtakaki - thanks for this. I think it solved my issue; although, I'm not sure if I'm using it right -
`sudo nohup python cachet_url_monitor/scheduler.py config.yml`
I believe this command expects an "output" file too but given that I've not specified any, it makes one automatically!

[2019-01-13 18:11] psudoorg opened #57 "CREATE_INCIDENT & UPDATE_STATUS on the same thread but one after the other - currently it overwrites!"
Once the issue is reported (say, a downtime), can the uptime be reported as a separate message on the same thread?

Currently, it overwrites the downtime message and simply rewrites it with the uptime message.

Also, can we structure the schema to display as a chronological / timeline view?

[2019-01-28 08:30] mtakaki commented on #54
@psudoorg that looks about right, but if I were you I would just run it with docker.

[2019-01-28 08:31] mtakaki commented on #53
This was written in python 2.7. I haven't tried running on 2.6. Could you please try running with 2.7?

[2019-02-14 10:56] CaptainMack opened #59 "Monitor uses UTC"
Hi!

I've setup the monitor so it measures latency and everything works as a charm, however! I've tried setting the timezone on my ubuntu server with `sudo dpkg-reconfigure tzdata`

But Cachet still reports the latency reports an hour earlier than it should be.

I am currently using the Docker image, when running the monitor.

[2019-02-15 03:09] mtakaki commented on #59
@CaptainMack I'm using [self.current_timestamp = int(time.time())](https://github.com/mtakaki/cachet-url-monitor/blob/master/cachet_url_monitor/configuration.py#L176) and `time.time()` is timezone independent, because it's unix epoch.

According to [CachetHQ API documentation](https://docs.cachethq.io/reference#post-metric-points), the API `/metrics/.../points` has the timestamp as optional. I cou

[2019-02-15 09:23] CaptainMack commented on #59
Hello @mtakaki,

Thanks for replying so quickly. I solved the problem at hand by mounting the /etc/timezone, when running the docker image. I agree that it would nice to make it configurable, so that it follows the optional nature of the API.

However, my graph does not seem to update the latency, it just keeps defaulting to 0 (which is my standard setting for the metric). Do you, by any chance, k

[2019-02-15 09:26] mtakaki commented on #59
Not a problem. I'll look into making it configurable soon.

About your issue with the latency, are you seeing these log messages? https://github.com/mtakaki/cachet-url-monitor/blob/master/cachet_url_monitor/configuration.py#L267
If so, are they above 0?

[2019-02-15 09:30] CaptainMack commented on #59
Yes,
I am getting messages such as `Metric uploaded: 0.233957 seconds`
with latency configured with `latency_unit: ms`

[2019-02-15 17:49] mtakaki commented on #59
Interesting... I haven't seen this happening before. Lemme give it a try here locally.

[2019-02-18 03:35] mtakaki commented on #59
I just tried it here and it seems to be working fine. Which version of cachet are you using?
I'm getting these in the logs:
[code]

And this is how the graph look like:
![image](https://user-images.githubusercontent.com/6954433/52926570-2ae70f80-32eb-11e9-8665-6f565aa42316.png)

[2019-02-18 12:19] CaptainMack commented on #59
Thank you for testing this @mtakaki,

I am running 2.4.0 due to using PHP7.2 on our servers, which is the only version that runs on the newer PHP version. Could this be source of the problem? I can move the issue to Cachet to hear them out, meanwhile I'll do some manual testing with the Cachet API to see If it doesn't register at all.

[2019-02-18 19:27] mtakaki commented on #59
I believe that could be the issue. I tested this with 2.3.15 and it worked fine. I did see these errors when I tried with the latest version:

Postgres:
[code]

Cachet:
[code]

[2019-02-19 04:52] mtakaki commented on #59
Do you agree we can close this ticket?

[2019-02-19 16:36] mtakaki commented on #57
I'm closing this issue as I haven't heard anything back in 22 days. Please, feel free to reopen it.

[2019-02-19 16:36] #57 closed

[2019-02-19 16:37] mtakaki commented on #55
I'm closing this ticket as I haven't heard anything back. Please, feel free to reopen it if the issue is still happening.

[2019-02-19 16:37] #55 closed

[2019-02-19 16:39] mtakaki commented on #54
I'm closing this ticket, but please feel free to reopen it if you still have any question.

[2019-02-19 16:39] #54 closed

[2019-02-19 16:39] #48 closed

[2019-02-19 19:45] CaptainMack commented on #59
Yes @mtakaki I am sorry about the delay in replying. The error is at Cachet's API end. Thank you for helping debugging this!

All the best,
Christian

[2019-02-19 19:45] #59 closed

[2019-02-20 02:49] mtakaki commented on #59
No worries! Thanks for conforming it. Feel free to reopen it if you think this is on my end :)

[2019-02-20 04:21] mtakaki commented on #53
Can I close this ticket? I haven't heard from you in 23 days...

[2019-02-21 06:55] #53 closed

[2019-03-20 16:18] Yandols opened #62 "No module named 'cachet_url_monitor'"
Hi, I've followed instructions from the readme.md but got stuck and failed to launch it due to the following error.

[code]

From my understanding it looks like it's not able to import itself. All pip requirements are already installed so I have no idea why this is occuring. I am running on a Fedora 27 CE server (no docker) if that helps.

[2019-03-21 03:20] mtakaki commented on #62
Could you please try running this after running pip?
[code]

And then try running again. Could you also please let me know the result? If that works, I'll update the README.

[2019-03-21 03:47] Yandols commented on #62
Yes, that installation step was missing from the readme.md. This is the output:

[code]
However I am now receiving a different error:

[code]

It still won't launch.

[2019-03-21 04:49] Yandols commented on #62
Please disregard the last error I posted in my comment above, I simply entered the wrong path.

After running the `python3 setup.py install` command it is now working properly, so you might want to add that to the readme.

Now I just need to figure out correct regex to detect the status of my instance.

Thanks!

[2019-03-21 05:22] mtakaki commented on #62
Great! Thanks for the update. FYI, the regex looks into the body of the response.
I'll leave this bug open until I update the readme.

[2019-03-21 14:14] Yandols commented on #62
Awesome. With the original issue aside, I must be doing something wrong with the regex then as I keep getting "Regex did not match anything in the body".

Is the regex field in the config the filter or what it will be filtering to look for? I'm trying to use this to monitor the status of my Gitlab instance which will return the message `Gitlab OK` through the health API.

I've never done automated

[2019-03-23 01:28] thyspir commented on #62
I have this issue when configuring it on Ubuntu 16.0.4.
It resolved after pip and running

$python setup.py install

[2019-04-04 13:34] mazhead opened #65 "Failing tests on pull requests"
@mtakaki, last 2 pull requests have a failed integration tests. For example:
https://circleci.com/gh/mtakaki/cachet-url-monitor/26?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

I think it has problems with some configuration, but I can be wrong.

[2019-04-08 08:42] ogghi opened #66 "Check multiple URLs?"
Hi there, I really like this plugin! How could I go and check multiple URLs?
By using multiple config files? How could I load multiple config files?
Thanks
David

[2019-05-13 23:26] mtakaki commented on #66
Sorry about the delay to answer you. Here's a solution proposed by @k1-hedayati
https://github.com/mtakaki/cachet-url-monitor/pull/58

[2019-05-14 10:19] ogghi commented on #66
Hi @mtakaki  thanks for letting me know.
I tried the code from the other repo, but had no luck.
Any chance to merge this anytime soon?

[2019-05-31 15:10] Si-Richards opened #67 "'Metric with id [x] does not exist.' but it in Cachet DB"
I'm unable to run the script and get the following errors stating that the Metric ID does not exist but for sure it is in the DB.

[code]

[code]

[2019-06-01 16:46] mtakaki commented on #67
Interesting... But if this is failing from the API point of view, that means cachethq is responding it doesn't exist. How does it look from the cachethq UI? The metric exists there?

[2019-07-08 13:39] jayze opened #68 "NameError: name 'file' is not defined"
Hi,

I've installed the package via pip, when adding the config.yml file and starting it via : python3 scheduler.py config.yml I get the following error message :

Traceback (most recent call last):
  File "scheduler.py", line 89, in <module>
    scheduler = Scheduler(sys.argv[1])
  File "scheduler.py", line 55, in __init__
    self.configuration = Configuration(config_file)
  File "/usr/local/lib

[2019-07-11 15:06] SamFreaks opened #69 "URL unavailable"
Hey,i always become this error:

 URL unavailable
`INFO [2019-07-11 17:04:03,217] cachet_url_monitor.configuration.Configuration - Monitoring URL: GET https://example.de/
     INFO [2019-07-11 17:04:03,217] cachet_url_monitor.configuration.Configuration - Registered expectation: 'HTTP status range: (200, 300)'
     INFO [2019-07-11 17:04:03,217] cachet_url_monitor.scheduler.Scheduler - Registering

[2019-10-16 23:19] joe-eklund commented on #46
I wanted to point out my solution to this problem, since I too had to pass in a custom certificate authority. You can actually get this working without modifying your code at all by setting the requests environment variable REQUESTS_CA_BUNDLE. In my case, I am running this in docker with docker-compose and my docker-compose.yml looks like:

`services:
  cachet-monitor:
    build: .
    image: cach

[2019-10-18 13:58] LucaTheHacker opened #72 "How can I customize status and incident?"
Hi, I'm trying to edit my configuration, how can I edit the incident and the status?

[2019-10-19 16:36] mtakaki commented on #67
I'm closing this ticket, as I didn't get any answer. Please, feel free to re-open it if it's still happening.

[2019-10-19 16:36] #67 closed

[2019-10-24 14:16] mtakaki commented on #72
You want to customize the incident and the status?

[2019-10-24 14:17] mtakaki commented on #69
How are you running this tool? Through docker or directly running on a server? Can you check if you can hit the url? Sometimes, if using docker, it can have a different dns configuration and it can't resolve your URL, especially if it's internal.

[2019-10-24 14:38] mtakaki commented on #66
Sorry, I really got swamped with other projects and only coming back to this now. I'll try merging these changes.

[2019-10-24 15:16] mtakaki commented on #47
I updated the README. Hopefully this is enough to close this ticket. Please, feel free to re-open it if you have any issue running this with docker. I don't want to maintain the docker-compose file, as it relied on the dockerized version of cachet and it brought some issues.

[2019-10-24 15:16] #47 closed

[2019-10-24 15:20] mtakaki commented on #65
Lemme take a look into this. Thanks for letting me know, @mazhead!

[2019-10-24 22:55] LucaTheHacker commented on #72
Yes, like the incident message and maybe setting major outage and not partial

[2019-10-25 14:23] mtakaki commented on #72
That's actually not configurable in the `config.yml`... In that case this would be a new feature request for both things: configuring the incident message and controlling the kind of status it would trigger.

[2019-10-25 15:26] mtakaki commented on #72
I just published version 0.5 that includes this feature, to override the incident status. Unfortunately, customizing the message could be cumbersome. For example, the `HTTP_STATUS` expectation shows the status it got, while `REGEX` doesn't have any parameter in the string. Unless we let it be customizable, but remove the ability to pass parameters.

[2019-10-25 16:35] #72 closed

[2019-10-30 14:45] mtakaki commented on #62
Thanks for sharing this, @thyspir! I updated the README a while back and @Yandols confirmed it's working for him. I'll close this issues.

[2019-10-30 14:49] mtakaki commented on #46
Thanks for sharing this, @joe-eklund. I'll update the README with this information.

[2019-11-06 18:10] dylie opened #73 "Component with id does not exist"
Hello,

I'm getting the error 'Component with id does not exist.', are my settings wrong? Can the api read groups using your monitor? Or can't it be in groups?
![error](https://user-images.githubusercontent.com/38665633/68325073-0b865180-00c9-11ea-9313-ea8ad690fe8e.jpg)

[2019-11-08 22:51] mtakaki commented on #69
I'm closing this ticket, as I haven't gotten an answer in 15 days. Please, feel free to re-open it if it's still happening for you.

[2019-11-08 22:51] #69 closed

[2019-11-08 22:51] mtakaki commented on #68
I'm closing this ticket, as I haven't gotten an answer in 15 days. Please, feel free to re-open it if it's still happening for you.

[2019-11-08 22:51] #68 closed

[2019-11-08 22:53] mtakaki commented on #73
Yeah, your API URL is incorrect. It should be `http://uptime.ether1.org/api/v1`. Could you please retry it if this URL (it shouldn't include `/components`)?

[2019-11-08 23:14] mtakaki commented on #45
Lemme try understand this better. The hostname `cachet` is only available from your private network, but your public hostname is `status.mywordpresspage`?

[2019-11-10 11:11] dylie commented on #73
Same issue.. :/
![problem](https://user-images.githubusercontent.com/38665633/68543121-47643400-03b3-11ea-929a-3493bc71e31e.jpg)

[2019-11-11 19:45] nasatome commented on #45
That's right.: The hostname `cachet` is only available from your private network, but your public hostname is `status.mywordpresspage.com`

[2019-11-20 22:14] antoine19 opened #75 "IsADirectoryError: [Errno 21] Is a directory: 'config/config.yml'"
Hello,

Sorry but i may sounds weird because i am  bit confused on how to run with docker.
I first pull the image from the docker hub and then i get an erroor with this command:

docker run --rm -it -v "$PWD":/usr/src/app/config/ mtakaki/cachet-url-monitor

and i get this :

Traceback (most recent call last):
  File "./cachet_url_monitor/scheduler.py", line 90, in <module>
    scheduler = Schedule

[2019-11-22 16:48] mtakaki commented on #75
You just need to add a yaml file in your directory. Do you have a local `config.yml` in your directory? It sounds like it's a directory, not a file based on the error message.

[2019-11-22 20:50] antoine19 commented on #75
Hello,
Yes i do have a file "config.yml" in local.

Then also when I run:
docker run --rm -it -v "$PWD"/my_config.yml:/usr/src/app/config/config.yml:ro mtakaki/cachet-url-monitor

When i check on Kitematic, it is going to create a folder "config.yml" inside config (on my container repo) . This is where the error "Is a Directory" comes from.
--> config/config.yml
--> it runs but note with my config

[2019-11-23 17:46] mtakaki commented on #75
So, I tried reproducing the same error you're getting and I only get it if I create a directory named `config.yml`, like this:
[code]

Could you please confirm you have a `config.yml` file (not directory) in your current directory when you're calling docker?

[2019-11-23 23:02] antoine19 commented on #75
Hello,
Yes i do have a file "config.yml" in my local repository.
I think the problem is coming from the fact that i have two volumes mounted on my container:
-usr\src\app\config\
-usr\src\app\conf\

So when i run :
docker run --rm -it -v "$PWD":/usr/src/app/conf/ mtakaki/cachet-url-monitor

It runs but still with another fill.
By default it seems that it will look in this container repo and ignore

[2019-11-26 08:32] mtakaki commented on #75
On which OS are you running this?

[2019-11-26 13:26] antoine19 commented on #75
I am using Windows (not Pro).

I deleted the container and re-pull image and run the container with Kitematic.
I have now a local repo with a config.yml inside.

![Capture](https://user-images.githubusercontent.com/23458544/69637292-a6cf6e80-1058-11ea-91ce-185704cc1982.JPG)

Its running and now my issue seems to be coming from the Cachet API now.

![Capture2](https://user-images.githubusercontent.

[2019-11-26 15:40] mtakaki commented on #75
`Name does not resolve` sounds like your domain name is incorrect. Sometimes in docker you can get dns issues, if you don't configure the dns properly on your container. Is it an internal domain name that is only resolved by your internal dns server? Or is it a public one?

[2019-11-26 23:08] antoine19 commented on #75
Ok thanks, my bad i made a mistake when entering the cachet API.
I think my last issue is coming from the metric now  during the uploading.
It is weird because i do have two metric in my cachet server (with id: 1 and id: 2)
Do i need token to access them ?  Because when entering  (http://hostname/api/v1/metrics) i get them without any token ?
![Capture0](https://user-images.githubusercontent.com/2

[2019-11-29 20:52] antoine19 commented on #75
Hi,

Indeed, i need an API token.
Ok now i have everything working fine, thank you for your help.
I was just wondering if it would be possible to monitor multiple URL at the send time with the configuration file (.yml) ?

[2020-01-05 18:25] mtakaki commented on #66
Thanks to @aberenshtein this is finally done.

[2020-01-05 18:25] #66 closed

[2020-01-05 18:26] mtakaki commented on #9
This was fixed through #76. All thanks to @aberenshtein

[2020-01-05 18:26] #9 closed

[2020-01-05 22:06] mtakaki commented on #75
@antoine19 this is now supported on the latest release. You can refer to the readme on how to set it up.

[2020-01-05 22:06] mtakaki commented on #73
Did you figure this out, @dylie? Are you still having issues?

[2020-01-06 16:18] mtakaki commented on #21
This is fixed by #77

[2020-01-06 16:18] #21 closed

[2020-01-18 21:57] mtakaki commented on #10
This was done through PR #78. It's not exactly what was proposed here, but it added a client to scrape cachethq and spit out a configuration file. I don't want to increase the complexity of the configuration. Leaving it dead simple makes it less prone to mistakes.

If you guys feel this is not a good solution, please feel free to re-open it.

[2020-01-18 21:57] #10 closed

[2020-01-19 04:10] mtakaki commented on #73
I'm closing this issue. Please, feel free to reopen it if you're still facing this issue, @dylie

[2020-01-19 04:10] #73 closed

[2020-01-19 04:16] mtakaki commented on #75
I'm closing this issue as it's not a problem anymore.

[2020-01-19 04:16] #75 closed

[2020-01-19 04:20] mtakaki commented on #45
@nasatome did you figure this out?

[2020-01-19 23:29] nasatome commented on #45
That's right, that's why I mentioned it.
is a minor bug
so if you like, you can close this issue

[2020-01-20 08:35] mtakaki commented on #45
Have you tried setting up the `Site URL` under `/dashboard/settings/setup`? Have you tried putting the public hostname there? If that doesn't, I recommend you reaching out to the folks that owns CachetHQ. We own only until we create the incident on cachet and anything after that is under CachetHQ's ownership.

Would mind giving an update after you try this out?

[2020-01-28 14:07] chris-str-cst opened #81 "Release-0.6.4 doesn't load config file anymore"
[code]

[code]
It works with release-0.6.3

[2020-01-29 10:03] mtakaki commented on #81
Fixed by #82. Thank you so much for reporting and fixing it, @chris-str-cst

[2020-01-29 10:03] #81 closed

[2020-02-05 22:58] jonathon2nd opened #83 "Receiving "Unexpected HTTP status (200)" when status_range: 200"
Except from config.yml

[code]

Except from logs:

[code]

At first I thought it may be a parsing issue, looking at this line of the log
`cachet_url_monitor.configuration.Configuration.example backend - Registered expectation: 'HTTP status range: [200, 201['`
But from the code that seems to be expected.

[2020-02-05 23:01] jonathon2nd commented on #83
Just changed config to double check:
[code]

And this is what is prints now:
[code]

[2020-02-05 23:22] jonathon2nd commented on #83
Looks like maybe not parsing problem?
[https://github.com/mtakaki/cachet-url-monitor/blob/df2d094dc65e042b75ceb2a0a999136a7eae1720/cachet_url_monitor/configuration.py#L357](url)

[2020-02-11 08:15] mtakaki commented on #83
Thanks for reporting this, @jonathon2nd. This should be fixed now. Please, feel free to re-open if you find it's still happening to you.

[2020-02-11 08:15] #83 closed

[2020-02-22 16:32] LabodiDavid opened #85 "No module named 'Schedule'"
I followed the installation instructions.
[code]

When i trying to install 'Schedule'

[code]

[2020-02-25 05:35] mtakaki commented on #85
Did you create a virtualenv with python3? Based on your last error, you're using python2.
Can you try this (you can replace `cachet-url-monitor` for the name of the folder where you cloned it)?
[code]

If you already have a virtualenv setup in that folder, you need to remove the existing folders.

[2020-02-28 15:10] Thomvaill commented on #45
I had the same issue, because `APP_URL` / `Site URL` is not taken into account.
Here is an ugly hotfix: https://github.com/CachetHQ/Cachet/issues/3952

[2020-03-23 07:40] jdfranel opened #86 "Metrics not pushed"
Hi @mtakaki,

First of all, thanks for this great piece of code.

I'm a pretty new user of cachet and cachet-url-monitor. So far, I have managed to configure the different components and the status is updated correctly. My problem is that I cannot see any metrics pushed but I cannot see what I am doing wrong.

I am running cachet-url-monitor in the provided Docker Container.

Here is my config:
[c

[2020-04-02 21:37] analytically commented on #86
@mtakaki seeing this as well

[2020-04-04 23:24] mtakaki commented on #86
I'll take a look into this. It looks like if the status doesn't change, it's not triggering a metrics push.
Lemme try reproduce it through unit test.

[2020-04-08 14:06] analytically commented on #86
Also, shouldn't UPDATE_STATUS also not run if the status doesn't change, so the date/time in the UI reflects when it was last 'Operational'?

[2020-04-24 09:19] analytically commented on #86
@mtakaki did you manage to have a look?

[2020-04-24 16:58] crak-mmarcoux opened #87 "Self-Signed certificate"
Hi getting this error
requests.exceptions.SSLError: HTTPSConnectionPool(host='cachetdocker_cachet_1', port=8000): Max retries exceeded with url: /api/v1/components/1 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate (_ssl.c:1056)')))

Could it be avoided by doing the REQUEST variable?
Thanks
Math

[2020-04-26 18:07] nijel commented on #86
I hit this issue too and https://github.com/mtakaki/cachet-url-monitor/pull/88 fixes it for me.

[2020-04-26 23:18] #86 closed

[2020-04-26 23:19] mtakaki commented on #86
I'm sorry about the delay to look into it. I haven't had enough time to work on it. But I promise I'll confirm if things are looking good today.

[2020-04-28 06:11] nijel opened #89 "latency_unit is read from cachet section"
The code behaves differently than documented, the docs says, that `latency_unit` should be placed in endpoint configuration, but it is read from cachet section:

https://github.com/mtakaki/cachet-url-monitor/blob/ae0555cb705a6e5ed16d292ca8aaf638df2a0332/cachet_url_monitor/configuration.py#L86-L87

I can submit a PR once it's clear whether code or docs is the one to follow :-).

[2020-04-28 06:32] nijel opened #90 "Monitoring executed several times"
I have configured monitor to monitor 11 services and I've noticed that some of them are triggered several times. Looking at the scheduler module, it doesn't seem to be designed with multiple threads in mind. When triggering it from thread, it can easily happen that more threads get the same pending tasks.

Possible solutions:

* Use just one scheduler thread, let it execute the tasks in separate t

[2020-04-28 11:03] nijel commented on #90
The side effect of this is that threads are crashing when executed concurrently:

[code]

[2020-04-29 04:06] mtakaki commented on #85
I'm closing this issue as I haven't gotten any answer. Please, feel free to re-open it if it happens again.

[2020-04-29 04:06] #85 closed

[2020-04-29 04:46] mtakaki commented on #89
Good catch! The configuration should be per endpoint, as metrics are 1:1 with resources. I'll let you decide if you want to tackle this or should I do it :)

[2020-04-29 07:12] #90 closed

[2020-04-29 15:22] #89 closed

[2020-04-30 08:59] mtakaki commented on #87
Hi @crak-mmarcoux, yes, I believe so. You can see more context here: #46
The environment variable is `REQUESTS_CA_BUNDLE` and you need to point it at your ca bundle.

[2020-05-02 06:47] analytically commented on #86
Many thanks @mtakaki !

[2020-05-02 19:15] #87 closed

[2020-05-02 19:15] crak-mmarcoux commented on #87
Looks ok! I opened a non-ssl page.

[2020-05-04 04:47] mtakaki commented on #86
All thanks to @nijel! He's the one that fixed it, @analytically :)

[2020-05-04 05:11] mtakaki commented on #87
Thanks for confirming it, @crak-mmarcoux. Feel free to re-open it if you see it again.

[2020-05-11 09:23] nilesh2501 opened #98 "passing environment variable in the header."
Hi all,

I would like to know the flow for configuration.py with respect to scheduler.py as in how the configuration.py gets loaded. I would also like to know as to where the configuration is stored? How can I make DD-API-KEY' and 'DD-APPLICATION-KEY' as environment variables that can be called into monitor.yaml under header section for URL monitoring? PS : DD-API-KEY' and 'DD-APPLICATION-KEY' are

[2020-05-13 07:18] devopssecautomation opened #99 "is there any way to integrate with AWS Secret server"
API keys we provide in config.yaml  need to integrate with AWS  secret server . for any cloudified environment where the central secret server is the only option to store keys, the current  version has the limitation. I appreciate it if anyone takes up this feature to develop.

[2020-05-15 14:28] mtakaki commented on #99
Thanks for the suggestion, @devopssecautomation. I haven't actually considered it, but I'll see if I can get it implemented. Any help is more than welcome.

[2020-05-19 00:33] mtakaki commented on #99
@devopssecautomation I've done some refactoring and added token providers. This is just the first step to implement this. I'll try adding the AWS secrets manager provider, but no promises it will be done today.

[2020-05-19 07:43] mtakaki commented on #99
@devopssecautomation, do you think you could pull this branch and give it a try? I just need to confirm it's working correctly. #102

[2020-05-19 08:38] mtakaki commented on #99
I tested it myself and it seems to be working fine. I'll close the ticket, but please feel free to re-open if you think it's incorrect or it doesn't match what you would expect.

[2020-05-19 08:39] #99 closed

[2020-05-20 01:56] mtakaki commented on #98
Unfortunately it currently doesn't support setting headers through environment variables. It would require a refactoring to get this working. I'll see what I can do about it, but some help would be appreciated.

[2020-05-30 10:36] ProfessorVarox opened #103 "SyntaxError: invalid syntax"
Hello, when I wanted to install this error appears again and again.

I'm using Python v3.5.3 on Debian 9

Error:
[code]

I appreciate your help

[2020-06-05 14:08] kking-biometica opened #104 "Error: No such command when running client.py in Docker"
I am unable to generate a config.yml file using the provided tool in the Docker container.

**Expected Outcome:**

config.yaml generated from an existing Cachet instance when calling `client.py`

**Actual Outcome:**

I receive the error `Error: No such command "[url]"`

**Steps to reproduce:**

[code]

help produces the following output:

[code]

[2020-06-06 22:10] pcevela opened #105 "No module named 'cachet_url_monitor.plugins'"
Hi @mtakaki,
[this](https://github.com/mtakaki/cachet-url-monitor/pull/101) merge broke docker implementation:
[code]
[release-0.6.9](https://github.com/mtakaki/cachet-url-monitor/tree/0.6.9) is working correctly

[2020-06-08 12:56] ygwane commented on #104
Same issue but client.py file contains only 148 lines. Which line does you replace ?

[2020-06-08 13:17] kking-biometica commented on #104
Here's the `client.py` in my container
[code]

[2020-06-08 14:35] ygwane commented on #105
Same issue here

[2020-06-15 19:34] trevanyoung commented on #103
@ProfessorVarox  were you able to get past this issue ? I'm running into the exact same problem. Ubuntu 16.04 here, Python v2.7.12

[2020-06-15 23:56] mtakaki commented on #103
@ProfessorVarox you must be using an older version of python. Which exact version are you using? Could you please run this?
[code]

You should get something like this in order to have it work propery (or at least 3.5):
[code]

@trevanyoung you need at least python 3.5 in order to support type hints.

[2020-06-16 05:13] ProfessorVarox commented on #103
Should I use Python v2?

I'll try it later

[2020-06-17 14:09] trevanyoung commented on #103
@ProfessorVarox I have Python 3.5.2 and Python 2.7.12.  I get the same error trying to run the file with python 2 and 3.

[2020-06-19 11:38] hydrapolic opened #106 "Feature request: optional boto"
As of now, boto is a strict requirement and if I don't have the aws sdk installed cachet-url-monitor fails to start.

I have to manually remove:
[code]

It would be nice for boto to become and optional dependency so that cachet-url-monitor would work even without the boto lib installed.

Thanks for this handy tool!

[2020-06-22 13:43] quadeare commented on #105
Same issue here.

Previous release works : release-0.6.9

[2020-06-25 17:07] mtakaki commented on #103
@ProfessorVarox @trevanyoung could you please try it with python 3.7.7? That's what I'm using and it's completely normal and even the build is passing...

[2020-06-25 17:08] mtakaki commented on #103
You can see the build is running 3.7.2: https://github.com/mtakaki/cachet-url-monitor/blob/master/.circleci/config.yml#L11

[2020-06-25 17:14] mtakaki commented on #106
That's a good suggestion. I'll have to split them into separate files, so you wouldn't hit that line when you're not using AWS.
I'll tag this for the next release.

Thanks for using this tool and for helping me make it better :)

[2020-06-28 08:54] ProfessorVarox commented on #103
Hello, I tried it with Python 3.7.7 and it works!

Thanks a lot for your help

[2020-06-28 08:54] #103 closed

[2020-07-07 09:19] dgiebert commented on #105
Regarding the Dockerfile you are not moving the plugins folder, so a working change could be:

[code]

Not sure if that is the same error for the release ?

[2020-07-20 03:19] steel2k2 opened #108 "Error al actualizar un incidente"
Me sale el error siguiente:
  WARNING [2020-07-19 20:15:46,620] cachet_url_monitor.configuration.Configuration.Gorm,io - Incident update failed with status [404], message: ""
     INFO [2020-07-19 20:15:46,620] cachet_url_monitor.configuration.Configuration.Gorm,io - No changes to component status.
  WARNING [2020-07-19 20:15:50,193] cachet_url_monitor.configuration.Configuration.Gorm,io - Inciden

[2020-07-20 06:51] mtakaki commented on #108
Es que puedes escribir tu configuracion en un code block? Creo que el problema es en tu `component_id`, quizas tienes un otro id?
Also, can we switch to English for the sake of keeping it helpful for other folks?

[2020-07-20 18:25] steel2k2 commented on #108
mtakaki, este es el archivo de configuración

`endpoints:
  - name: swagger
    url: https://prairial.run.goorm.io/
    method: GET
    header:
      SOME-HEADER: SOME-VALUE
    timeout: 2.01
    expectation:
      - type: HTTP_STATUS
        status_range: 200-300
        incident: MAJOR
      - type: LATENCY
        threshold: 4
      - type: REGEX
        regex: '.*(<body).*'
    allowed_fails:

[2020-07-20 18:25] steel2k2 commented on #108
Este es el archivo de configuración

[2020-07-20 18:27] steel2k2 commented on #108
mtakaki, esta es la configuración
[code]

[2020-10-02 21:16] Project-neuron opened #110 "Url unreachable issue"
Hello

I am running into an issue with the system stating that the url is unreachable

[code]
  INFO [2020-10-02 20:56:06,814] cachet_url_monitor.configuration.Configuration.Apps at Ithaca - Component current status: ComponentStatus.OPERATIONAL
     INFO [2020-10-02 20:56:06,814] cachet_url_monitor.configuration.Configuration.Apps at Ithaca - Monitoring URL: GET https://www.google.com/
     INFO [

[2020-10-05 20:09] Project-neuron commented on #110
I managed to get google.com to work, however, I am still having issues with the URL app.ithaca.edu. Every other URL seems to work fine but this one.

[2020-10-19 18:01] MeStrak opened #111 "Allowed_fails behaviour"
This isn't actually an issue, I just want to check the behaviour of allowed_fails. I'm not sure if it applies to a number of retries when timeout is exceeded, or if it retries again at the next frequency interval, up to the number of allowed_fails before creating an incident.

If I have the configuration below with allowed_fails: 10, does it mean ...
1. URL test will run, and timeout after 10 seco

[2020-11-12 13:21] IvanDechovsky opened #112 "Add JSON body and verify option to webhook POST request"
https://github.com/IvanDechovsky/cachet-url-monitor/pull/1/files
Currently, if you specify a private CA bundle slack webhook will not work. Also slack webhook requires a JSON body not just parameters. See example PR to fix
https://github.com/IvanDechovsky/cachet-url-monitor/pull/1/files

[2020-11-21 11:11] boonisz commented on #47
Hi all,
I worked on a docker-compose for Cachet with cachet-url-monitor plugin.
The repo is: [cachet-url-monitor-dc](https://github.com/boonisz/cachet-url-monitor-dc)
Hope it can help ;)

[2020-11-26 07:33] mtakaki commented on #47
Thanks for sharing it, @boonisz. Would you mind if I add a note about it in the README and link to it?

[2020-11-26 07:39] mtakaki commented on #108
Can you confirm if the component id exists?

[2020-11-26 07:42] mtakaki commented on #110
So, you're running this through docker? Have you tried running curl from inside the container, instead at the host?

[2020-11-26 08:47] boonisz commented on #47
With pleasure :)

[2020-12-15 09:53] Leo-Ryu opened #114 "Documentation needed?"
Hello,

I’ve been working on a platform for editable codebase documentation and noticed this repo lacked documentation besides the README. Would it be useful if I generated/hosted docs for this repo?

The platform:

1) has a modern markdown editor to allow people to quickly and easily create new documents/user guides
2) is similar to readthedocs/sphinx in that reads through the codebase and builds

[2020-12-17 11:57] LowBoBYT opened #115 "Component with id [1] does not exist."
Hello,

I'm getting the error 'Component with id does not exist.', are my settings wrong?

best regards
![Screenshot_46](https://user-images.githubusercontent.com/63642989/102485003-4fd37780-4067-11eb-9a98-625b4b040c7d.png)

[2021-01-07 22:40] NiTRoeSE commented on #108
Hi, i have the same problem, url-monitor changes the state of incident fine from "Healthy" to " Error", but the change back from "Error" to "Healthy" doesnt work, i get excactly the same error message like in initial post.

Running Cachet-Url-Monitor and Cachet 2.3.15 in docker.
I can confirm that my "component_id`s" exists.
Any chance to get this running ?

Thanks in advanced

[2021-01-27 20:38] kamah82 opened #116 "Is there a way to customize the message set?"
Quick question. Is there a way to customize the error message generated? I.e. "The URL is unreachable: GET https://some.url".

Thanks.

[2021-02-08 11:23] fmercier-almerys opened #117 "Url not reacheable and component status"
Hi

when remote check url is down and not reacheable, cachet url monitor change compoment status to PARTIAL and there is no way to configure it to MAJOR. May be nice to have a way to specify component status when URL is not reacheable

[2021-03-22 12:06] MGoeppl opened #120 "ARM version of Docker image?"

[2021-04-05 05:07] joecan00 opened #122 "Reset Status After Incident Resolved"
How does one configure the yml file to have a HTTP Status trigger an incident but have the status revert back to Operational if the issue resolves itself.

Currently the way I have it setup if the docker container in question is shut down it will log an incident and move to Partial Outage. Restarting the docker resets the status to operational within the Incident report but service itself still sh

[2021-05-08 19:14] ItsJustMyron opened #123 "scheduler.py issue"
Hey if i want to start up the url monitor its not starting up becuase if this error

`File "cachet_url_monitor/scheduler.py", line 59`
`configuration: Configuration`
`                    ^`
`SyntaxError: invalid syntax`

and i dont know how to fix it so i maked this issue

The ^ is pointing to the :

[2021-05-12 14:15] ItsJustMyron commented on #123
And i have the issue that i cant subscribe to my status page

[2021-05-20 21:46] #111 closed

[2021-06-08 02:03] JAKAMI99 opened #124 "No Errorcode for wrong IP:Port"
Hey,
I troubleshooted and error where I got a "Traceback" error from python.
I put the wrong IP into the config.yml because I was brain afk, but the logs weren't giving me an error where I could see that no Cachet instance was found behind this IP:Port combination.
Would be ultra need to build an error for this case for the logs.

Thanks, ultra nice project

[2021-06-10 07:36] ezlo-codrin commented on #105
same issue on 0.6.10

[2021-06-12 09:33] mtakaki commented on #123
It looks like you're using the wrong version of python. Can you run `python -V` and paste the result here?
We need at least python 3.5 because it uses type hinting.

[2021-06-12 09:35] mtakaki commented on #122
It does sound like you've encountered a bug here. It should be self-resolving when the URL is reachable again. If it's setting it to partial, then can you try increasing the response time threshold?

[2021-06-15 12:29] ItsJustMyron commented on #123
Hey i'm using python 3.5

[2021-06-16 12:42] ItsJustMyron commented on #123
[code]

[2021-06-20 19:27] InFerYes commented on #117
I have the same issue when testing. I set the URL in my hosts-file to a non-existent IP. After the failure threshold is hit the incident is marked as **partial**.

[2021-06-23 13:23] InFerYes commented on #122
I keep getting this warning in the logs:

`  WARNING [2021-06-23 15:09:19,797] cachet_url_monitor.configuration.Configuration.Moodle - Incident update failed with status [404], message: ""`

The response time threshold is set to 5.

[code]

[2021-06-23 13:27] InFerYes commented on #116
You can change the code in configuration.py

https://github.com/mtakaki/cachet-url-monitor/blob/b339334b2c5e912403c0956b59e189e3629b5919/cachet_url_monitor/configuration.py#L170

[2021-06-23 13:29] InFerYes commented on #115
On the cachet dashboard, do you have a component with ID 1?

In the dashboard you can edit the components and see the ID in the URL e.g. https//_baseurl_/dashboard/components/**1**/edit

[2021-06-28 09:44] truong-hua opened #125 "Wrong api to push metric points"
According to https://docs.cachethq.io/reference#post-metric-points, the API request should sent data in JSON raw body but in this project, the metric points are sent through GET params. So it causes the error below:

[code]

Cachet version:
[code]

[2021-06-29 09:06] SmarLat commented on #116
I use the docker version of cachet-url-monitor, i can't edit configuration.py. It would be nice to customize the error message with the config.yml file!

[2021-06-30 08:29] InFerYes commented on #116
Are you not able to access the contents of the container?

[2021-06-30 09:03] SmarLat commented on #116
Yes i can edit with the docker exec -it, but still have the "The URL is unreachable: GET https://some.url". message

[2021-06-30 09:33] SmarLat opened #126 "Allowed_fails does not work"
The allowed_fails option does not work. I have tried with values 1, 2, 3 and 5.

[2021-07-05 18:52] mtakaki commented on #122
@InFerYes foryour case it looks like the component_id may be incorrect, otherwise you wouldn't get a 404. Unless the cachet url is incorrect.

[2021-07-08 14:41] truong-hua commented on #125
This is a wrong report, the issue is not from this repo

[2021-07-08 14:41] #125 closed

[2021-08-11 15:43] erazemk opened #127 "AttributeError: 'list' object has no attribute 'lower'"
I tried running the dockerized version of cachet-url-monitor, but I get the following error when building from master:

[code]

I'm not very familiar with Python, so I don't know how to fix it myself, but it seems the problem is that `url` in `client.py:l13` is treated as a list instead of a string.

[2021-09-10 19:48] RashKash103 commented on #127
@erazemk I was seeing this error as well and after doing a little bit of debugging, I found out what was causing it.

Basically, the `api_url` does not support the `ENVIRONMENT VARIABLE` method for retrieval as the `token` does. So it did not work when my configuration was as follows:

[code]
I had to instead hard-code the URL into the `config.yml` like this:

[code]

I know that the the [Docker v

[2021-09-27 16:08] lediszep opened #129 "Failure #1 with threshold set to 0"
Hi there,

I have most setup correctly except for plex is giving me this error in the logs:

INFO [2021-09-27 16:06:27,286] cachet_url_monitor.configuration.Configuration.Plex - Unexpected HTTP status (401)
WARNING [2021-09-27 16:06:27,286] cachet_url_monitor.configuration.Configuration.Plex - Failure #1 with threshold set to 0

`  - name: Plex
    url: http://192.168.178.17:32400
    method: GET

[2021-10-23 19:53] schroedt opened #130 "Cachet Status not updated if check fails"
Hi there,

I noticed my cachet status not being updates, when check fails. When creating new items and setting them to "unhealthy", they are automatically shifted to "healthy" (I guess by cachet-monitor). Afterwards it notes unhealthy states, but does not update the status at cachet:

[code]

Cachet Monitor is configured as illustrated below:

[code]

Do I check incorrectly or do something wrong?

[2021-10-23 20:18] schroedt opened #131 "Supervising Database Status"
Hi There,

is there any example for supervising databases, such as `mariadb`or `postgresql`?
I think this would be useful for documentation (quick-start).

Further, some recommendations for supervising systems would be nice, e.g.:
* HTTP 200-300 check for general availability `incident: MAJOR`
* HTTP 200-300 using latency for `incident: PERFORMANCE`
* etc.

Is something like that available?

[2022-03-20 23:05] mati1214 commented on #129
Error 401 is authorization error. Check this link: https://support.plex.tv/articles/201638786-plex-media-server-url-commands/
"In a default setup, all of your requests to the Plex Media Server must be authenticated."
Proper token in parameter should help

[2022-03-21 15:31] monu56 opened #135 "Sorting the endpoints based on status"
Hi,
I am looking out for a solution where our Cachet Status Page can sort the components based on the status (For ex: Outage URL should be listed first in the status page UI). I followed the documentation, but not clear where exactly to make changes. Can anyone help please.

Ref: https://docs.cachethq.io/docs/advanced-api-usage

What I think, I should make changes in the config.yml file -> api_url